.v-expansion-panel-title--active:focus-visible > .v-expansion-panel-title__overlay, .v-expansion-panel-title[aria-haspopup=menu][aria-expanded=true]:focus-visible > .v-expansion-panel-title__overlay{
  opacity: 1;
}
a{
    text-decoration: none !important;
    color: initial !important;
}
.v-container{
    max-width: 100%;
}
.gap {
  gap: 0.25rem;
}
@media (min-width: 1920px) {
    .v-container {
      max-width: 1280px;
      padding: 0;
    }
  }

